<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practica6pmdmalbertocalero">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practica6PMDMAlbertoCalero">
        <activity
            android:name=".ImagenAmplia"
            android:label="@string/lblCaratula"
            android:theme="@style/Theme.Practica6PMDMAlbertoCalero"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Detalles"
            android:label="@string/lblDetalles"
            android:theme="@style/Theme.Practica6PMDMAlbertoCalero"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Practica6PMDMAlbertoCalero.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>